/***** GLOBAL + RESETS *****/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;    
}

html, body, img, p, h1, h2, h3, span, aside, header, nav, main, footer, ul, li, a, label, i {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Tr2n";
    src: url("../fonts/Tr2n.ttf");
}

body {
    font-size: 100%;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: "Marko One", 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.link {
    text-transform: uppercase;
}

.link:hover {
    text-decoration: underline;
}

.p--bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    padding: 1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.button__top {
    background-color: #000;
    color: #3fd6ca;
    margin: 1rem auto 0 auto;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 1.5rem;
}

.button__top:hover, .button__top:focus {
    background-color: #353;
    color: #fff;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.button__top i {
    margin-left: 1rem;
}

.image--rad {
    border-radius: 3%;
}

.flex {
    margin: 0 auto;
    display: flex;
}

.flex__col {
    flex-flow: column nowrap;
}

.flex__col--sm {
    flex-flow: column nowrap;
}

.row--center {
    justify-content: center;
}

.col--center {
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w960 {
    max-width: 960px;
}

.pb-1 {
    padding-bottom: .8rem;
}

.p--nobreak {
    display: inline-block;
}

.address {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
}

/***** NAVIGATION *****/

header {
    width: 100%;
    height: 100px;
    background-image: url(../img/museum-header-sm.jpg);
}

.nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: visible;
}

.nav {
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__link {
    font-weight: 700;
    font-size: 1.4rem;
    color: #3fd6ca; 
    text-transform: uppercase;  
}

.button__nav--sm {
   width: 100%;
   padding: 0.5rem 0;
   font-size: 1rem;
   max-width: 500px;
   position: relative;
   border: none;
   background: none;
}

.button__nav--sm:after {
    content: "\2795";
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    right: 23%;
}

.button--accordion {
    background-color: rgba(0, 0, 0, 0.0);
}

.button--accordion:after {
    content: "\2796";
}

.nav--alpha {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav--collapse {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.nav--collapse p {
    color: #fff;
}

.nav--collapse ul {
    padding-bottom: 0.5rem;
}

.nav--collapse a {
    display: block;
    font-size: 1.2rem;
}

#nav-toggler {
    display: none;
}

#nav-toggler:checked ~ .nav--toggle {
    display: block;
}

.nav--toggle {
    display: none;
    list-style: none;  
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    text-align: center;
    background: url(../img/nav-bg-sm.jpg);
    background-repeat: no-repeat;
    padding-top: 20px;
    background-size: cover;
    width: 1024px;
}

.img__menu {
    height: 80px;
}

.nav__label {
    position: absolute;
    right: 0;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    color: #3fd6ca;
}

.link__logo {
    height: 80px;
    margin-bottom: 14px;
    margin-left: 1rem;
    display: flex;
}

.logo {
    height: 80px;
    display: flex;
    align-items: center;
    font-family: "Tr2n", "Marko One", Verdana, Geneva, sans-serif;
    font-size: 3rem;
    letter-spacing: 3px;
}

/***** MAIN *****/

main {
    margin: 70px auto 0 auto;
}

main h1 {
    text-align: center;
    padding: 30px 0 20px 0;
    text-shadow: 2px 2px 2px #666;
}

h1 span {
    display: block;
}

main h2 {
    text-align: center;
    margin: 1rem;
    max-width: 434px;
}

.banner {
    position: relative;
    display: flex;  
}

.banner__image {
    width: 85%;
    height: 85%;
    margin: 0 auto;
}

.banner__blurb {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 1rem;
    font-weight: bold;
}

.banner__blurb p:before {
    content: open-quote;
    display: inline;
    position: relative;
    top: 0;
    left: -2px;
    font-size: 1.5rem;
    color: #222;
}

.banner__blurb p:after {
    content: close-quote;
    display: inline;
    position: relative;
    top: 20px;
    left: 0px;
    font-size: 1.5rem;
    color: #222;
}

.banner a {
    display: block;
    padding: 1.4rem 2rem;
    position: absolute;
    bottom: 10px;
    left: 60%;
    transform: translate(-60%, 0);
}

.button--orange {
    background-color: rgb(189, 89, 23);
    border: 2px solid black;
    color: #fff;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000;
    border-radius: 10%;
    text-align: center;
}

.button--orange:hover {
    background-color: rgb(138, 12, 12);
    transition: background-color 0.35s ease;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 1rem;
}

.content--inner {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1rem;
}

.content .button--orange {
    max-width: 150px;
}

/***** FOOTER *****/

footer {
    margin: 30px auto 0 auto;
    padding: 2rem 0;
    background-color: rgb(220, 220, 255);
}

footer h3 {
    margin-bottom: .2rem;
}

footer i {
    margin-right: .3rem;
}

footer .link {
    font-size: 1.2rem;
}

footer .flex__col--sm {
    justify-content: flex-start;    
}

.content__footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
}

.image__telescope {
    display: none;
    max-width: 180px;
    left: 10%;
    top: -38%;
}

.openhours p {
    width: 100%;
    padding: 0 .3rem;
}

.openhours p:nth-of-type(2n -1) {
    background-color: rgba(0, 0, 0, 0.1);
}

.weekday {
    display: inline-block;
    min-width: 110px;
    margin-left: 2px;
}

.logo__footer {
    width: 60px;
    display: inline-block;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: .6rem;
}

/***** MEDIA Q *****/

@media screen and (max-width: 767px) {

    body {
        font-size: 80%;
    }

    .nav--toggle a, .nav--toggle p {
        font-size: .9rem;
    }

    .nav--toggle li {
        background-color: rgba(0, 0, 0, 0.45);
    }

    .nav--toggle li:last-of-type {
        height: 100%;
    }
}

@media screen and (min-width: 768px) {

    main h1 span {
        display: inline-block;
    }

    .nav--toggle {
        padding-top: 80px;
    }

    .button__nav--sm {
        font-size: 1.8rem;
    }

    .banner__image {
        width: 100%;
        height: auto;
    }

    .banner__blurb {
        top: 5%;
        right: 8%;
    }

    .blurb {
        font-size: 1.8rem;
    }

    .banner__blurb p:before {
        top: -5px;
        font-size: 2rem;
    }

    .banner__blurb p::after {
        font-size: 2rem;
        top: 25px;
    }

    .banner a {
        left: 80%;
    }

    .banner .button--orange {
        font-size: 1.6rem;
        border-radius: 15%;
        padding: 2.5rem;
    }

    main p {
        font-size: 1.1rem;
    }
    .content {
        flex-direction: row;
        max-width: 600px;
    }

    .content--inner {
        min-height: 380px;
        padding: 0 1rem;
        justify-content: space-around;
    }

    footer .flex__col--sm {
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .image__telescope {
        display: block;
    }

}

@media screen and (min-width: 1024px) {

    .flex__col--sm {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .content {
        flex-direction: column;
        max-width: 310px;
    }

    .content--inner {
        align-items: center;
        justify-content: space-between;
        height: 300px;
        padding: 1rem;
    }
   
}

@media screen and (min-width: 1025px) {

    .nav {
        justify-content: flex-end;
    }

    .nav__label {
        display: none;
    }

    .nav--toggle {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        background: none;
        padding-top: 0;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;   
    }

    .nav--toggle li {
        flex: 1;
        height: 100%;
    }

    .button__nav--sm {
        font-size: 1.4rem;
        height: 60%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .button__nav--sm:hover, .button__nav--sm:focus {
        background-color: rgb(0, 0, 0, 0.8);
        transition: background-color .6s ease;
    }

    #li--remove {
        display: none;
    }

    .button__nav--sm:after {
        content: none;
    }

    .button--accordion:after {
        content: none;
    }

    .nav--collapse {
        position: absolute;
        width: 250px;
        background: #fff;
        left: -50px;
    }

    .nav--toggle > li:nth-of-type(2) > .nav--collapse {
        left: 100px;
    }

    .nav--toggle > li:nth-of-type(3) > .nav--collapse {
        left: 250px;
    }

    .nav--toggle > li:nth-of-type(4) > .nav--collapse {
        left: 400px;
    }

    .nav--toggle > li:nth-of-type(5) > .nav--collapse {
        left: 575px;
        width: 205px;
    }

    .nav--collapse ul {
        padding: 0;
        border: 2px solid black;
    }

    .nav--collapse > ul > li:nth-of-type(2n) {
        background-color: rgb(220, 220, 255);
    }

    .nav--collapse a {
        padding: 1rem;
        color: #000;
     }

    .nav--collapse a:hover, .nav--collapse a:focus {
        background-color: #000;
        color: #fff;
        transition: background-color 0.3s ease;
    }

    .nav--collapse p {
        padding: 1rem 0;
        color: #000;
    }

    footer {
        padding-top: 45px;
    }
}


