/***** GLOBAL + RESETS *****/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;    
}

html, body, img, p, h1, h2, h3, span, aside, header, nav, main, footer, ul, li, a, label, i {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Tr2n";
    src: url("../fonts/Tr2n.ttf");
}

body {
    font-size: 100%;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

h1, h2, h3, .link {
    font-family: "Marko One", 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    border: none;
    background: none;
    text-align: center;
}

/***** NAVIGATION *****/

header {
    width: 100%;
    height: 100px;
    background-image: url(../img/museum-header-sm.jpg);
}

.nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: visible;
}

.nav {
    margin: 0 auto;
    height: 100px;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__link {
    font-weight: 700;
    font-size: 1.4rem;
    color: #3fd6ca; 
    text-transform: uppercase;  
}

.button__nav--sm {
   width: 100%;
   padding: 1rem 0;
   font-size: 2rem;
   padding-left: 2em;
   max-width: 500px;
}

.button__nav--sm:after {
    content: "\2795";
    color: #fff;
    float: right;
    font-size: 1.2rem;
    margin-right: 2em;
}

.button--accordion {
    background-color: rgba(0, 0, 0, 0.0);
}

.button--accordion:after {
    content: "\2796";
}

.nav--alpha {
    background-color: rgba(0, 0, 0, 0.4);
}

.nav--collapse {
    font-size: 1.5rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.nav--collapse p {
    color: #fff;
}

.nav--collapse ul {
    padding-bottom: 1rem;
}

#nav-toggler {
    display: none;
}

#nav-toggler:checked ~ .nav--toggle {
    display: block;
}

.nav--toggle {
    display: none;
    list-style: none;  
    position: fixed;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 450px;
    text-align: center;
    background: url(../img/nav-bg-sm.jpg);
    background-repeat: no-repeat;
    padding-top: 60px;
    background-size: cover;
    min-width: 1024px;
    max-width: 1024px;
}

.nav__label {
    position: absolute;
    right: 0;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    color: #3fd6ca;
}

.link__logo {
    height: 80px;
    margin-bottom: 14px;
    margin-left: 1rem;
    display: flex;
}

.logo {
    height: 80px;
    display: flex;
    align-items: center;
    font-family: "Marko One", 'Times New Roman', Times, serif;
    font-size: 3rem;
}

/***** MAIN *****/

main {
    margin-top: 118px;
}

main h1 {
    text-align: center;
}

.h1-museum {
    min-width: 300px;
}